* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: white;
  color: #000;
}

body {
  min-height: 100vh;
  font-size: 1.5rem;
}

.Header {
  /*color: #24325fff; */
  color: #69c8ecff;
  background-color: #fafd7cff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: sticky;
  top: 0;
  width: 100%;
}

.Nav {
  display: flex;
  justify-content: flex-end;
}

.Nav__links {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.Nav__link {
  display: inline-block;
  margin-right: 0.1rem;
}

.Nav__link a,
.Nav__link a:visited {
  text-decoration: none;
  color: #69c8ecff;
}

.Nav__link a:hover,
.Nav__link a:focus {
  text-decoration: underline;
}

.App {
  margin: auto;
  background-color: #917c5dff;
  color: #24325fff;
}

h3 {
  text-align: center;
  color: #62491eff;
}

.filters input[type="text"] {
  width: 20rem;
  margin: 10px;
}
.filters {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 7px;
  margin: 5px;
  align-items: center;
}

.filters label {
  color: #917c5dff;
}

.filterButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filterButtons button {
  margin: 15px;
  width: 90px;
}

.pageNavigation {
  min-width: 300px;
  display: flex;
  flex-direction: row;
  padding: 15px;
  justify-content: space-around;
}

.nextButton {
  width: 90px;
}

.previousButton {
  width: 90px;
}

.characterGrid {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
